*{
  margin:0;
  padding:0;
}
body{
  display: flex;
  place-content: center center;
  place-items: center center;
  width: 100vw;
  height:100vh;
  overflow: hidden;
}


.container {  
  display: grid;
  grid-template-columns: 0.1fr 1fr 360px 0.1fr;
  grid-template-rows:    0.1fr 1fr 360px 0.1fr;
  max-height:95vh;

  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". route form ."
    ". route map ."
    ". . . .";
    gap:2%;
  .route { 
    grid-area: route; 
    border: 1px solid black;
    width: 15vmax;
    min-height: 100%;
    display: block;  
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-face-color: black;
    h2{
      text-align: center;
      margin:2% 0;
      font-family: sans-serif;
      border-bottom:1px solid black;
    }
    .route-planner{
      //overflow-y:hidden;
      div.stop{
        &.visited{
          background-color: rgb(22, 136, 54);
        }
        margin:5% 0;
        padding: 0 2%;
        border-bottom: 1px dashed black;
        border-top:1px dashed black;
      }
      :first-child{
        margin-top: 0 !important;
        border-top: none !important;
      }
    }
  }
  .form { 
    grid-area: form; 
    display: flex;
    flex-direction: column;
    gap:20%;
    .input-container{
      display: flex;
      justify-content: space-evenly;
      margin-bottom:5%;
      label{
        width: 30%;
        input{
          width: 100%;
        }
      }
    }
    .button-container{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      button{
        width: 45%;
        padding:2% 0;
        outline:none;
        border:none;
        border-radius: 7px;
        background-color: rgb(22, 136, 54);
        &.danger{
          background-color: rgb(181, 43, 43);
        }
      }
    }
  }

}

.map { 
  grid-area: map; 
  width:100%;
  height:auto;
}




